<h4>Hi {{name}},</h4>

<p>Please find your certificate in the attachment for the NASA Space Apps Challenge conducted on 20th and 21st September 2019 by Innovation Center as part of La-Elvitia 4.0 in GITAM Hyderabad</p>

<p>Thank you for being a part of this event and hope to see you next time for La-Elvitia 5.0</p>
<p>Note: If you cannot find the attachment, please reply to this email and we will send you manually.</p>
<p>Regards</p>
<p>Team Innovation Center</p>
<p><a href="https://innovationcenter.gitam.edu">Visit our Website</a></p>
<p>Direct: +91 84552 21419</p>
<p>Email: innovationcenter_hyd@gitam.in</p>